<section class="test">
    <div class="container">
        <div class="test__pre-title" id="pre-title">
            Тест №1. “JavaScript: Начальный уровень”
        </div>
        <div class="test__progressbar" id="progressbar">
<!--            <div class="test__progressbar-item complete">-->
<!--                <div class="test__progressbar-item-circle"></div>-->
<!--                <div class="test__progressbar-item-text">Вопрос 1</div>-->
<!--            </div>-->
<!--            <div class="test__progressbar-item complete">-->
<!--                <div class="test__progressbar-item-circle"></div>-->
<!--                <div class="test__progressbar-item-text">Вопрос 2</div>-->
<!--            </div>-->
<!--            <div class="test__progressbar-item complete">-->
<!--                <div class="test__progressbar-item-circle"></div>-->
<!--                <div class="test__progressbar-item-text">Вопрос 3</div>-->
<!--            </div>-->
<!--            <div class="test__progressbar-item complete">-->
<!--                <div class="test__progressbar-item-circle"></div>-->
<!--                <div class="test__progressbar-item-text">Вопрос 4</div>-->
<!--            </div>-->
<!--            <div class="test__progressbar-item active">-->
<!--                <div class="test__progressbar-item-circle"></div>-->
<!--                <div class="test__progressbar-item-text">Вопрос 5</div>-->
<!--            </div>-->
        </div>
        <div class="test__question">
            <div class="test__question-title" id="title">
                <span> Вопрос 2:</span> Тут должен быть текст вопроса?
            </div>
            <div class="test__question-options" id="options">
            </div>
        </div>
        <div class="test__actions">
            <div class="test__previous-action">
                <button class="button button-transparent" id="prev" disabled>Назад</button>
            </div>
            <div class="test__time">
                <div class="test__time-text">Осталось времени:</div>
                <div class="test__time-clock" id="timer">59</div>
            </div>

            <div class="test__next-action">
                <button class="button button-transparent" id="next" disabled>Дальше</button>
            </div>
        </div>
        <div class="pass-question">
            <a href="javascript:void(0)" id="pass">Пропустить вопрос <img src="/images/arrow2.png" alt="Стрелочка"></a>
        </div>

    </div>
</section>
